# Directories
bin/Debug_Win32/
bin/Debug_x64/
bin/Release_Win32/
bin/Release_x64/
lib/Debug_Win32/
lib/Debug_x64/
lib/Release_Win32/
lib/Release_x64/
tmp/Debug_Win32/
tmp/Debug_x64/
tmp/Release_Win32/
tmp/Release_x64/
pro/vs2022/

# Files
*.opensdf
*.sdf
*.suo
*.user
*.vs