# Directories
bin/Debug_Win32/
bin/Debug_x64/
bin/Release_Win32/
bin/Release_x64/
lib/Debug_Win32/
lib/Debug_x64/
lib/Release_Win32/
lib/Release_x64/
tmp/glew/
tmp/glfw/
tmp/xApp/
tmp/xEasyGL/
prj/vs2012/
prj/vs2013/
prj/vs2015/
prj/vs2017/
prj/vs2019/
prj/vs2022/

# Files
*.opensdf
*.sdf
*.suo
*.user
*.vs