# Directories
bin/Debug_Win32/
bin/Debug_x64/
bin/Release_Win32/
bin/Release_x64/
lib/Debug_Win32/
lib/Debug_x64/
lib/Release_Win32/
lib/Release_x64/
tmp/glew/
tmp/glfw/
tmp/xApp/
tmp/xEasyGL/
pro/vs2012/
pro/vs2013/
pro/vs2015/
pro/vs2017/
pro/vs2019/
pro/vs2022/

# Files
*.opensdf
*.sdf
*.suo
*.user
*.vs